<?php

/*
 * Created on 05.04.2007
 * updated: 14.02.2025
 * author: Ralf LÜsebrink
 *
 * Template: Copy this file as credentials.php
*/
 # Werte auf Entwicklungssystem einstellen!
 $server = "localhost";		// MySQL-Server
 $user   = "some-user";		// MySQL-Nutzer
 $pass   = "change-me";		// MySQL-Kennwort
 $dbase  = "geodetective";	// Standarddatenbank

?>
